[package]
name = "audio_graph"
version.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
dsp.workspace = true
utils.workspace = true

rayon-core = "1.13.0"
